<app-header />

<main>
  <ul id="users">
    <!-- New way of using for -->
    @for (user of users; track user.id){
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li>
    }
    
    <!-- Old way of using for
    for this to work you have to import NgFor -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  <!-- New way of using if -->
  @if (selectedUser){
  <app-tasks [name]="selectedUser.name" />
  }@else{
  <p id="fallback">Select a user to see their tasks!</p>
  }

  <!-- Old way of doing it
   for this to work you have to import NgIf -->
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->

</main>
